In [1]:
import pandas as pd

# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [9]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [11]:
def classification(values):
    """Ранжирование фильмов на категории"""
    if values <= 2.0:
        return 'низкий рейтинг'
    elif 2.0 < values <= 4.0:
        return 'средний рейтинг'
    elif 4.0 < values <= 5.0:
        return 'высокий рейтинг'

In [12]:
ratings['class'] = ratings['rating'].apply(classification)
ratings.head(30)

    userId  movieId  rating   timestamp            class
0        1       31     2.5  1260759144  средний рейтинг
1        1     1029     3.0  1260759179  средний рейтинг
2        1     1061     3.0  1260759182  средний рейтинг
3        1     1129     2.0  1260759185   низкий рейтинг
4        1     1172     4.0  1260759205  средний рейтинг
5        1     1263     2.0  1260759151   низкий рейтинг
6        1     1287     2.0  1260759187   низкий рейтинг
7        1     1293     2.0  1260759148   низкий рейтинг
8        1     1339     3.5  1260759125  средний рейтинг
9        1     1343     2.0  1260759131   низкий рейтинг
10       1     1371     2.5  1260759135  средний рейтинг
11       1     1405     1.0  1260759203   низкий рейтинг
12       1     1953     4.0  1260759191  средний рейтинг
13       1     2105     4.0  1260759139  средний рейтинг
14       1     2150     3.0  1260759194  средний рейтинг
15       1     2193     2.0  1260759198   низкий рейтинг
16       1     2294     2.0  1260759108   низкий рейтинг
17       1     2455     2.5  1260759113  средний рейтинг
18       1     2968     1.0  1260759200   низкий рейтинг
19       1     3671     3.0  1260759117  средний рейтинг
20       2       10     4.0   835355493  средний рейтинг
21       2       17     5.0   835355681  высокий рейтинг
22       2       39     5.0   835355604  высокий рейтинг
23       2       47     4.0   835355552  средний рейтинг
24       2       50     4.0   835355586  средний рейтинг
25       2       52     3.0   835356031  средний рейтинг
26       2       62     3.0   835355749  средний рейтинг
27       2      110     4.0   835355532  средний рейтинг
28       2      144     3.0   835356016  средний рейтинг
29       2      150     5.0   835355395  высокий рейтинг

# Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [13]:
keywords = pd.read_csv('ml-latest-small/keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [14]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'], 
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

geo_df = pd.DataFrame(geo_data)
geo_df[['Центр', 'Северо-Запад', 'Дальний Восток']]

       Центр Северо-Запад Дальний Восток
0     москва    петербург    владивосток
1       тула        псков        сахалин
2  ярославль     мурманск      хабаровск

In [15]:
def geo_test(my_df):
    for k, v in geo_data.items():
        if len(list(set(my_df['words']) & set(v))) > 0:
            return k
    else:
        return 'undefined'

In [16]:
keywords['words'] = keywords['keyword'].apply(lambda word: word.split(' '))
keywords.head(10)

                      keyword     shows                           words
0                          вк  64292779                            [вк]
1               одноклассники  63810309                 [одноклассники]
2                       порно  41747114                         [порно]
3                        ютуб  39995567                          [ютуб]
4                   вконтакте  21014195                     [вконтакте]
5  одноклассники моя страница  19976138  [одноклассники, моя, страница]
6                        майл  15144673                          [майл]
7                       авито  14786593                         [авито]
8                  переводчик  14453469                    [переводчик]
9                      яндекс  13344734                        [яндекс]

In [17]:
keywords['class'] = keywords.apply(geo_test, axis=1)
keywords.head(10)

,keyword,shows,words,class
0,вк,64292779,[вк],undefined
1,одноклассники,63810309,[одноклассники],undefined
2,порно,41747114,[порно],undefined
3,ютуб,39995567,[ютуб],undefined
4,вконтакте,21014195,[вконтакте],undefined
5,одноклассники моя страница,19976138,"[одноклассники, моя, страница]",undefined
6,майл,15144673,[майл],undefined
7,авито,14786593,[авито],undefined
8,переводчик,14453469,[переводчик],undefined
9,яндекс,13344734,[яндекс],undefined

In [18]:
keywords['class'].value_counts().head()

undefined         99406
Центр               384
Северо-Запад        146
Дальний Восток       64
Name: class, dtype: int64