In [2]:
import pandas as pd
import numpy as np

# Задание 1

Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [11]:
# При создании датафрейма заменяем очевидные пропуски, обозначенные вопросительными знаками на значения NaN

horses_df = pd.read_csv('horse_data.csv', header=None, na_values = ['?'])
horses_df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [21]:
df = horses_df.iloc[:, [1, 3, 4, 5, 10, 12, 16, 19]]
df.columns = ['Age', 'Rect_temp', 'Pulse', 'Resp_rate', 'Pain', 'Abd_dist', 'Feces', 'Total protein']
df.head(20)

    Age  Rect_temp  Pulse  Resp_rate  Pain  Abd_dist  Feces  Total protein
0     1       38.5   66.0       28.0   5.0       4.0    3.0            8.4
1     1       39.2   88.0       20.0   3.0       2.0    4.0           85.0
2     1       38.3   40.0       24.0   3.0       1.0    1.0            6.7
3     9       39.1  164.0       84.0   2.0       4.0    3.0            7.2
4     1       37.3  104.0       35.0   NaN       NaN    NaN            7.4
5     1        NaN    NaN        NaN   2.0       2.0    3.0            NaN
6     1       37.9   48.0       16.0   3.0       3.0    3.0            7.0
7     1        NaN   60.0        NaN   NaN       2.0    3.0            8.3
8     1        NaN   80.0       36.0   4.0       4.0    3.0            6.2
9     9       38.3   90.0        NaN   5.0       1.0    3.0            6.2
10    1       38.1   66.0       12.0   3.0       1.0    2.0            6.0
11    1       39.1   72.0       52.0   2.0       2.0    4.0            7.8
12    1       37.2   42.0       12.0   3.0       3.0    4.0            7.0
13    9       38.0   92.0       28.0   1.0       2.0    1.0            6.1
14    1       38.2   76.0       28.0   3.0       1.0    4.0           81.0
15    1       37.6   96.0       48.0   5.0       3.0    4.0            6.8
16    9        NaN  128.0       36.0   4.0       3.0    4.0            7.8
17    1       37.5   48.0       24.0   NaN       NaN    NaN            NaN
18    1       37.6   64.0       21.0   2.0       1.0    2.0            7.0
19    1       39.4  110.0       35.0   NaN       3.0    NaN            8.7

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            300 non-null    int64
 1   Rect_temp      240 non-null    float64
 2   Pulse          276 non-null    float64
 3   Resp_rate      242 non-null    float64
 4   Pain           245 non-null    float64
 5   Abd_dist       244 non-null    float64
 6   Feces          198 non-null    float64
 7   Total protein  267 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [35]:
desc_df = df.describe()  
desc_df

,Age,Rect_temp,Pulse,Resp_rate,Pain,Abd_dist,Feces,Total protein
count,300.000000,240.000000,276.000000,242.000000,245.00000,244.000000,198.000000,267.000000
mean,1.640000,38.167917,71.913043,30.417355,2.95102,2.266393,2.757576,24.456929
std,2.173972,0.732289,28.630557,17.642231,1.30794,1.065131,1.251119,27.475009
min,1.000000,35.400000,30.000000,8.000000,1.00000,1.000000,1.000000,3.300000
25%,1.000000,37.800000,48.000000,18.500000,2.00000,1.000000,1.000000,6.500000
50%,1.000000,38.200000,64.000000,24.500000,3.00000,2.000000,3.000000,7.500000
75%,1.000000,38.500000,88.000000,36.000000,4.00000,3.000000,4.000000,57.000000
max,9.000000,40.800000,184.000000,96.000000,5.00000,4.000000,4.000000,89.000000

In [36]:
df.dtypes

Age                int64
Rect_temp        float64
Pulse            float64
Resp_rate        float64
Pain             float64
Abd_dist         float64
Feces            float64
Total protein    float64
dtype: object

Для анализа отобраны следующие атрибуты:  
1. Age - возраст лошади
2. rectal temperature - ректальная температура
3. pulse - пульс
4. respiratory rate - частота дыхания
5. pain - ощущение боли
6. abdominal distension - вздутие живота
7. rectal examination - feces - анализ кала
8. total protein - общий протеин  

Атрибут Age (возраст лошади) выглядит странно. Судя по описанию, должно быть 2 уникальных значения - 1 и 2. Вместо этого представлены 2 значения 1 и 9. Непонятно, то ли они соответствуют возрасту, то ли бинарное порядковое значение для взрослых и молодых лошадей.

При первом расчёте статистики остальные базовые метрики не вызывают подозрений на предмет выбросов (исходя из поверхностного изучения возможных значений метрик, почерпнутых из справочного файла и из Интренета). В выборке явно присутствуют нездоровые лошади и (или) лошади, измерение показателей по которым производилось после сильных физических нагрузок.

# Задание 2

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [105]:
def outliers(param):
    q1 = df[param].quantile(0.25)
    q3 = df[param].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    remove_outliers = df[df[param].between(lower_bound, upper_bound, inclusive=True)].sort_values(param)
    outliers = pd.concat([df, remove_outliers]).drop_duplicates(keep=False).sort_values(param)
    return remove_outliers

In [107]:
outliers('Total protein')

     Age  Rect_temp  Pulse  Resp_rate  Pain  Abd_dist  Feces  Total protein
255    9       38.8  184.0       84.0   4.0       3.0    2.0            3.3
210    1       37.9   68.0       20.0   2.0       2.0    1.0            4.0
84     1       37.8   60.0       80.0   2.0       3.0    4.0            4.5
142    1        NaN  120.0        NaN   5.0       4.0    4.0            4.5
247    1       38.1   88.0       24.0   5.0       3.0    3.0            4.6
..   ...        ...    ...        ...   ...       ...    ...            ...
144    1       37.1   84.0       40.0   2.0       4.0    4.0           81.0
63     1       38.2  130.0       16.0   2.0       4.0    NaN           82.0
1      1       39.2   88.0       20.0   3.0       2.0    4.0           85.0
90     1       38.0   52.0       16.0   2.0       NaN    1.0           86.0
208    1       37.8   88.0       80.0   NaN       3.0    4.0           89.0

[267 rows x 8 columns]

Анализ непрерывных количественных показателей ректальной температуры, пульса и частоты дыхания у лошадей показал их значительную вариабельность. В то же время произведённый анализ выбросов по указанным показателям не выявил возможных ошибок в исходных данных. Все показатели, которые были идентифицированы как выбросы по критерию межквартильного размаха в реальности могут встечаться (исходя из поверхностной проработки вопроса по материалам Интернета). Остальные анализируемые показатели вообще не дали выбросов из всей совокупности.  
Исходя из результатов анализа было принято решение не исключать никакие образцы из изначального набора данных.

# Задание 3

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [13]:
# Рассчитаем количество пропусков для всех выбранных столбцов
df.isna().sum()

Age                0
Rect_temp         60
Pulse             24
Resp_rate         58
Pain              55
Abd_dist          56
Feces            102
Total protein     33
dtype: int64

In [23]:
# Видно что больше всего пропусков в столбце Feces. Удалим все строки, которые содержат хотя бы один Nan
complete_df = df.dropna()
complete_df

     Age  Rect_temp  Pulse  Resp_rate  Pain  Abd_dist  Feces  Total protein
0      1       38.5   66.0       28.0   5.0       4.0    3.0            8.4
1      1       39.2   88.0       20.0   3.0       2.0    4.0           85.0
2      1       38.3   40.0       24.0   3.0       1.0    1.0            6.7
3      9       39.1  164.0       84.0   2.0       4.0    3.0            7.2
6      1       37.9   48.0       16.0   3.0       3.0    3.0            7.0
..   ...        ...    ...        ...   ...       ...    ...            ...
291    1       38.9   80.0       44.0   2.0       3.0    3.0            6.5
292    1       37.0   66.0       20.0   4.0       3.0    1.0            6.9
294    1       38.5   40.0       16.0   2.0       1.0    3.0           67.0
297    1       37.5   72.0       30.0   4.0       3.0    3.0            6.8
298    1       36.5  100.0       24.0   3.0       3.0    4.0            6.0

[117 rows x 8 columns]

In [24]:
# Удалилось достаточно большое количество строк. Имеет смысл проигнорировать NaN в столбце Feces
common_df = df.dropna(thresh=7)
common_df

     Age  Rect_temp  Pulse  Resp_rate  Pain  Abd_dist  Feces  Total protein
0      1       38.5   66.0       28.0   5.0       4.0    3.0            8.4
1      1       39.2   88.0       20.0   3.0       2.0    4.0           85.0
2      1       38.3   40.0       24.0   3.0       1.0    1.0            6.7
3      9       39.1  164.0       84.0   2.0       4.0    3.0            7.2
6      1       37.9   48.0       16.0   3.0       3.0    3.0            7.0
..   ...        ...    ...        ...   ...       ...    ...            ...
292    1       37.0   66.0       20.0   4.0       3.0    1.0            6.9
294    1       38.5   40.0       16.0   2.0       1.0    3.0           67.0
296    1       37.2   72.0       24.0   4.0       3.0    4.0            NaN
297    1       37.5   72.0       30.0   4.0       3.0    3.0            6.8
298    1       36.5  100.0       24.0   3.0       3.0    4.0            6.0

[200 rows x 8 columns]

In [36]:
# Уже лучше. Посмотрим как изменились базовые статистики
desc_common = common_df.describe()
desc_common

,Age,Rect_temp,Pulse,Resp_rate,Pain,Abd_dist,Feces,Total protein
count,200.000000,184.000000,200.000000,185.000000,191.000000,192.000000,169.000000,196.000000
mean,1.600000,38.155435,70.700000,29.556757,2.780105,2.140625,2.668639,24.411735
std,2.112418,0.697829,27.772768,16.528903,1.228530,1.005751,1.256989,27.873579
min,1.000000,36.400000,36.000000,8.000000,1.000000,1.000000,1.000000,3.300000
25%,1.000000,37.800000,48.000000,18.000000,2.000000,1.000000,1.000000,6.500000
50%,1.000000,38.100000,64.000000,26.000000,3.000000,2.000000,3.000000,7.450000
75%,1.000000,38.500000,86.500000,36.000000,4.000000,3.000000,4.000000,58.000000
max,9.000000,40.800000,184.000000,90.000000,5.000000,4.000000,4.000000,89.000000

In [48]:
# Для наглядности рассчитаем разницу в базовых метриках исходного и очищенного датафрейма, построим датафрейм разностей по всем столбцам
diff_table = desc_common.copy()
for el in df.columns:
    diff_table[el] = desc_df[el] - desc_common[el]
diff_table

,Age,Rect_temp,Pulse,Resp_rate,Pain,Abd_dist,Feces,Total protein
count,100.000000,56.000000,76.000000,57.000000,54.000000,52.000000,29.000000,71.000000
mean,0.040000,0.012482,1.213043,0.860599,0.170916,0.125768,0.088937,0.045194
std,0.061553,0.034460,0.857789,1.113328,0.079409,0.059380,-0.005871,-0.398570
min,0.000000,-1.000000,-6.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.100000,0.000000,-1.500000,0.000000,0.000000,0.000000,0.050000
75%,0.000000,0.000000,1.500000,0.000000,0.000000,0.000000,0.000000,-1.000000
max,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000

На мой взгляд непрофильного специалиста ничего с данными делать не стоит. Удаление значительной части строк с пропусками данных слабо повлияло на распределение базовых метрик. Заполнение пропусков применительно к указанному набору данных смысла не имеет